html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
.main {
  box-sizing: border-box;
  height: 100%;
}
.contenido {
  height: 100%;
  overflow-x: auto;
  background-color: #cdd5e9;
  text-align: center;
}
