:host {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 15px;
  width: 500px;
  button {
    margin-left: 10px;
  }
  span {
    color: gray;
  }
  .buscador {
    display: inline-flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-start;
    .error {
      color: red;
    }
  }
}
